*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6,
h1{
    text-align: center;
    white-space: nowrap;
    margin: 20px;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ingredients{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.steps{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

p{
    text-align: center;
    white-space: wrap;
    margin: 20px;  
    padding: 10px; 
    font-size: large;
}